{{#article}}
    {{#with post}}
        <h1>{{ title }}</h1>
        <p class="stand-first">{{ standfirst }}</p>
        {{!-- TODO: Change date format to  Friday 01 Month 2019, 00:00pm--}}
        <date>{{ date }}</date>
    {{/with }}
{{/article}}