<div class="comments__wrap">
    <div class="comments__header border-bottom push-bottom">
        <h3 class="comments__count">Comments</h3>
        <p>Sort: 
            <span id="sortByLikes" class="sorting">Likes</span> | 
            <span id="sortByNewest" class="sorting">Newest</span>
        </p>
    </div>
    <div id="commentsMain" class="comments__list">

    </div>
</div>