<div class="article-page__wrap">
        <div class="article-page__header">
            {{> article-header }}
        </div>    
        <div class="article-page__image">
            {{> article-image }}
        </div>
        <div class="article-page__body">
            <article class="border-bottom push-bottom">
                {{> article-main }}
            </article>
            <div class="comments">
                {{> comments }}
            </div>
        </div>
    <div class="article-page__aside">
        {{> associated-articles }}
    </div>
</div>
